<!doctype html>
<html>
    <head>
	<link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="static/css/app.css">
	<script src="static/js/app.js"></script>
    </head>
    <body>
     <div id="holder" clas="holder-default">
      <form id="form" method="POST" enctype="multipart/form-data">
	<nav class="navbar navbar-default navbar-fixed-top" style="height:100px">
	  <div class="container-fluid">
	    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>                        
      		</button>
		<a class="navbar-brand" href="/"><img src='static/backgorundImg/logo.png' alt='logo' style="float: left;"><h4 style="margin-left:10px">Smart Judwaa</h4></a>
	   </div>
	   <div class="collapse navbar-collapse" id="myNavbar" >
	      <ul class="nav navbar-nav navbar-right" style="margin-top:20px;">
	        <li ><a href="/">Home</a></li>
	        <li><a href="#">About</a></li>
	     </ul>
	  </div>
	</div>
    </nav>

	 <div class="flex-container" id="c2" style="margin-top:10%">
		  <div class="flex-item"> 
			<div class="flex-container " id="c1">
				<div class="flex-item" style="margin-left:150px">
					<div class="panel" id="p1">
				  		<div class="flex-container" id="c0" data-toggle="tooltip" title="click here to upload another image!!" onclick="getElementById('file1').click()">
						     <div class="flex-item">
							<input type="text" id="t1" name="t1">
    							<input id="file1" name="file" type="file" class="file" accept="image/*" onchange="load(event)" >
							<video class="mejs-player" id="v1" autoplay style="max-width:300px;max-height:300px;"></video>
							<img id="output_image" class="img-rounded" src="{{imgpath}}" alt="{{fname}}" onload="formSubmit()">
						     </div>
						     <div class="flex-item" style="margin-top:10%">
							<h5 id="fname" style="color: white;">{{fname}}</h5>
						     </div>
				    		</div>
						<div style="text-align:center"> 
						     <button type="button" class="btn btn-default btn-sm" onclick="startCamera()">
          						<span class="glyphicon glyphicon-camera"></span> Camera
        					     </button>
						</div>
				  	</div>
				</div>
				<div class="flex-item" >
					<h3> <strong><i class="glyphicon glyphicon-circle-arrow-right" ></i> </strong> </h3>
				</div>
				<div class="flex-item" style="margin-right:150px">
				    <div class="panel" id="p2">
				  	<div class="flex-container" id="c0">
						<div class="flex-item">
							<div id="d2">
								<img id="op" class="img-rounded" src="{{ res }}" alt="{{hname}}">
							</div>
							<div id="d1" style="display:none">
								<i class="fa fa-spinner fa-spin" style="font-size:300px"></i>
							</div>
						</div>
						<div class="flex-item" style="text-align:center">
							<h5 id="hname" style="color: white;">{{hname}}</h5>
						</div>
					</div>
				        <div id="pbar" class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{per}}" aria-valuemin="0" aria-valuemax="100" style="width:{{per}}%; background-color: green; ; animation: progress 1.5s ease-in-out forwards;">
										{{per}}%
								</div>
							</div>
						</div>
					</div>
			          </div>
		            </div>
	          </div>
	       <div class="flex-item">
		   <div class="row">
		     <div class="col-md-8 col-md-offset-2" style="margin-left:230px">
                        <p style="color:blue">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis semper dolor. Nunc purus nisi, elementum id. Distinxit  media praeter vultus pro ligavit: persidaque flamma addidit innabilis dissaepser. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
		     </div>
		   <div>
               </div>
	</div>
       </form>
      </div>
     </body>
</html>
